#blog_section .main_div_flex {
    height: 100%;
}

.latest_blog_box {
    background-color: #f1f1f1;
    width: 15vw;
    border: 1px solid #ccc;
    height: 100%;
    padding-bottom: 14px;
    overflow: hidden;
    box-sizing: border-box;
}


.latest_blog_box > img {
    width: 15vw;
}

.latest_blog_title {
    font-size: 22px;
    font-weight: 500;
    padding-top: 14px;
    padding-left: 14px;
    padding-right: 14px;

    overflow: hidden;
    word-break: break-word;
}

.latest_blog_title a {
        color: #202124;
}

